<div class="container-fluid">
    <div class="row flex-nowrap">
      <!-- Left Menu -->
      <nav class="col-auto col-md-2 col-lg-2 d-flex flex-column align-items-center align-items-md-start bg-white py-2">
        <div id="menubar" class="d-flex flex-column align-items-center align-items-md-start w-100">
          <ul class="nav flex-column w-100 text-center text-md-start">
            <li class="nav-item">
              <a href="/" class="nav-link">
                <img src="assets/x-logo.png" alt="X Logo" style="width: 30px;">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">
                <i class="fas fa-home"></i>
                <span class="d-none d-md-inline ms-2">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/notifications" routerLinkActive="active">
                <i class="fas fa-bell"></i>
                <span class="d-none d-md-inline ms-2">Notifications</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active">
                <i class="fas fa-envelope"></i>
                <span class="d-none d-md-inline ms-2">Messages</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/bookmarks" routerLinkActive="active">
                <i class="fas fa-bookmark"></i>
                <span class="d-none d-md-inline ms-2">Bookmarks</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile" routerLinkActive="active">
                <i class="fas fa-user"></i>
                <span class="d-none d-md-inline ms-2">Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="onLogout()">
                <i class="fas fa-sign-out-alt"></i>
                <span class="d-none d-md-inline ms-2">Logout</span>
              </a>
            </li>            
          </ul>
        </div>
      </nav>
  
      <!-- Center Content -->
      <main class="col p-3">
        <router-outlet></router-outlet> <!-- Dynamic content will be loaded here -->
      </main>
  
      <!-- Right Sidebar -->
      <aside class="d-none d-lg-block col-lg-4 bg-white">
        <div class="p-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()">
            <button class="btn btn-outline-secondary" type="button" (click)="onSearch()">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <div class="bg-light p-3 rounded">
            <h6>What's happening</h6>
            <ul class="list-unstyled">
              <li *ngFor="let hashtag of trendingHashtags">
                <a [routerLink]="['/search']" [queryParams]="{ query: hashtag._id }">
                  {{ hashtag._id }}
                </a>
                <span class="text-muted">{{ hashtag.count }} posts</span>
              </li>
            </ul>
          </div>
        </div>
      </aside>            
    </div>
  </div>
  