<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="assets/x-logo.png" alt="X Logo" class="img-fluid" style="max-width: 80%;">
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h1>Happening now</h1>
          <h2 class="mt-4">Join today.</h2>
          <form class="mt-4">
            <button mat-raised-button color="primary" class="w-100 mb-3" (click)="navigateToRegister()">Create account</button>
            <p class="mt-3">Already have an account?</p>
            <button mat-raised-button color="primary" class="w-100" (click)="navigateToLogin()">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  