<div class="tab-content px-3" id="homeTabContent">
  <div class="tab-pane fade show active" id="for-you" role="tabpanel" aria-labelledby="for-you-tab">
    <div class="tweet-box my-3">
      <textarea class="form-control" rows="3" placeholder="What is happening?!" [(ngModel)]="tweetContent" (input)="updateCharacterCount()"></textarea>
      
      <!-- File input for images -->
      <input type="file" (change)="onFileChange($event, 'images')" multiple accept="image/*" class="form-control mt-2" />
    
      <!-- File input for video -->
      <input type="file" (change)="onFileChange($event, 'video')" accept="video/*" class="form-control mt-2" />
    
      <div class="d-flex justify-content-between align-items-center mt-2">
        <span [class.text-danger]="charactersRemaining < 0">{{ charactersRemaining }} characters remaining</span>
        <button class="btn btn-primary" style="background-color: #1DA1F2;" [disabled]="charactersRemaining < 0" (click)="onTweet()">Tweet</button>
      </div>
    </div>
    
    <div class="tweets-list">
      <div *ngFor="let tweet of tweets" class="tweet my-3 p-3 border rounded">
        <div class="d-flex justify-content-between align-items-center">
          <div class="tweet-author">
            <strong>{{ tweet.author.name }} (@{{ tweet.author.handle }})</strong>
            <span class="text-muted">{{ tweet.createdAt | date:'short' }}</span>
          </div>
          <button class="btn btn-sm" (click)="toggleFollow(tweet.author._id, tweet.author.isFollowing)">
            {{ tweet.author.isFollowing ? 'Unfollow' : 'Follow' }}
          </button>
        </div>
        <div class="tweet-content my-2">
          {{ tweet.content }}
        </div>
    
        <!-- Display images if available -->
        <div class="tweet-images my-2" *ngIf="tweet.images && tweet.images.length > 0">
          <div *ngFor="let image of tweet.images">
            <img [src]="'http://localhost:3000/' + image" alt="Tweet image" class="img-fluid rounded mb-2" />
          </div>
        </div>
    
        <!-- Display video if available -->
        <div class="tweet-video my-2" *ngIf="tweet.video">
          <video #videoElement controls loop muted class="img-fluid rounded">
            <source [src]="'http://localhost:3000/' + tweet.video" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
    
        <div class="tweet-interactions d-flex justify-content-between">
          <span><i class="fas fa-heart"></i> {{ tweet.likes.length }}</span>
          <span><i class="fas fa-comment"></i> {{ tweet.comments.length }}</span>
          <span><i class="fas fa-retweet"></i> {{ tweet.retweets.length }}</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
    <!-- Following content -->
    <div class="tweet-box my-3">
      <textarea class="form-control" rows="3" placeholder="What is happening?!" [(ngModel)]="tweetContent" (input)="updateCharacterCount()"></textarea>
      <div class="d-flex justify-content-between align-items-center mt-2">
        <span [class.text-danger]="charactersRemaining < 0">{{ charactersRemaining }} characters remaining</span>
        <button class="btn btn-primary" style="background-color: #1DA1F2;" [disabled]="charactersRemaining < 0">Tweet</button>
      </div>
    </div>
  </div>
</div>
